.header {
  background-color: #829985;
  
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
}
.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
}

body {
  font-family: 'Wittgenstein',;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #0b4722;
  background-color: #0b47222a;
}

.container {
  max-width: 1440px;
  min-height: 50px;
}

div {
  padding-left: 15px;
}

.main-container-logo {
  width: 50%;
  justify-content: center;
  display: flex;
}

.main-container-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  margin-top: 0px;
  letter-spacing: 3px;
  line-height: 1px;
  font-weight: 100;
}

h2 {
  background-color: #829985ab;

  padding-left: 10px;
}

.main-section {
  display: flex;
  align-items: center;
}

.photo {
  display: flex;
  border-radius: 50%;
  width: 40%;
  margin: 2%;
}

.meme {
  height: 75px;
  width: 75px;
  float: right;
  margin-right: 20px;
}

.footer {
  background-color: #829985;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
  color: #0b4722;
  margin-left: 15px;
}